.discount{
    margin-bottom: 130px;
}

.discount-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
    margin: 40px 0 28px 0;
}

.discount-subtitle {
    color: rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.discount-des {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
    max-width: 1080px;
}

.discount-column-container{
    background-image: url('../images/Rectangle\ 2.png');
    background-position: bottom ;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 662px;
}