.gift{
    margin-bottom: 130px;
}

.gift-title {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin: 16px 0 18px 240px;
}

.gift-subtitle {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-left: 240px;
    text-align: left;
}

.gift-des {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 240px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
    width: 920px;
}

.gift-img-container{
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gift-img-container .gift-img img{
    border: 2px dashed #ccc;
}